
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/PAWFET.cshtml";
}
<head>
    <style>
        p{
            font-size:medium;
            font-style:italic;
        }
    </style>
</head>
<body>
<div class="about">
    <p>
        <h2>About Pawfect</h2>
        Pawfect is an online, searchable database of animals who need homes. It is also a directory of nearly 11,000 animal shelters and adoption organizations. Organizations maintain their own home pages and available-pet databases.

        <h2>Our mission</h2>
        To use Internet technology and the resources it can generate to:

        1. Increase public awareness of the availability of high-quality adoptable pets
        2. Increase the overall effectiveness of pet adoption programs across North America to the extent that the euthanasia of adoptable pets is eliminated
           Elevate the status of pets to that of family member
        3. From the comfort of their personal computers, pet lovers can search for a pet that best matches their needs. They can then reference a shelter’s web page and discover what services it offers. Pawfect also includes discussion forums, a pet-care resource directory and a library of free pet-care articles to help keep pets in their homes.

        Pawfect is updated DAILY.

        Organizations wishing to participate should register. A contact person should be responsible for direct communications with Pawfect. Only nonprofit organizations will be included (but Federal 501(c)(3) status is not necessary).

        Pawfect is made up of animal-care professionals and regular people volunteering for their local animal welfare organizations all working together to maintain active and accurate homeless pet lists. Most animal welfare volunteers have “real jobs” by day. The success and the magnitude of this project is largely due to their tireless efforts to make a difference. If you would like to help, let us know! You can  Email: pawfectchennai@gmail.com.

        <h2>Disclaimer</h2>
        Pawfect is only a directory of homeless pets and pet adoption organizations. No information in Pawfect is guaranteed. Although the information on Pawfect is updated frequently, it is always best to call the facility or organization that lists the pet to insure it is still available and to insure the information listed in Pawfect is accurate. It is crucial that any pet found through an adoption service be thoroughly examined by a veterinarian immediately upon adoption. Any pets found, adopted through, or listed in Pawfect are the sole responsibility of the adoption organizations and/or the adopting party.

        Pawfect accepts no responsiblity for any liability or for any injury or damages to any person or property caused by any listed animal, as well as any cause of action, claims, suits or demands whatsoever that may arise as a result of such injury or damage.
    </p>
</div>
</body>

