
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/PAWFET.cshtml";
}
<h1>ContactUs</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <img src="~/Images/Gallery3.jpg" style="width:500px;height:500px;" />
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="contact-info white">
                <div class="contact-item media">
                    <i class="fa fa-map-marker-alt media-left media-right-margin"></i>
                    <div class="media-body">
                        <h4 class="text-uppercase">Address</h4>
                        <p >1131, Inner Ring Road (Jawaharlal Nehru Road), Koyambedu, Chennai, Tamil Nadu- 600107</p>
                    </div>
                </div>
                <div class="contact-item media">
                    <i class="fa fa-mobile media-left media-right-margin"></i>
                    <div class="media-body">
                        <h4 class="text-uppercase">Phone</h4>
                        <p class="text-uppercase"> 04445856595 </p>
                    </div>
                </div>
                <div class="contact-item media">
                    <i class="fa fa-envelope media-left media-right-margin"></i>
                    <div class="media-body">
                        <h4 class="text-uppercase">E-mail</h4>
                        <p >pawfectchennai@yahoo.com </p>
                    </div>
                </div>
                <div class="contact-item media">
                    <i class="fa fa-clock media-left media-right-margin"></i>
                    <div class="media-body">
                        <h4 class="text-uppercase">Working Hours</h4>
                        <p class="text-uppercase">Mon-Fri 9.00 AM to 5.00PM.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
   
</div>

