
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/PAWFET.cshtml";

}
<head>

    <link href="~/CSS/Gallery.css" rel="stylesheet" />
    <style>
        h3{
            background-image:linear-gradient(#f5a267,#452626);
            color:#ffd800;
            text-align:center;
        }
        p {
            color: chocolate;
            background-color: antiquewhite;
        }
    </style>
</head>
<h1>@Html.ActionLink("Home", "GLOBAL", "PAWFET", new {@class="Link" })</h1>

   <body>
       <div class="container">

           <div class="box">
               <div class="imgBx">

                   <img src="~/IMAGES/Dog1.jpg" /> />
               </div>
               <div class="content">
                   <h3>John</h3>

                   <p style="color:chocolate;background-color:antiquewhite">John is 3 year old Male dog. He is very playfull and charming.He enjoy our Shelter . We provide cabin for each and every pet, so that they feel comfortable with us. John is adaptive he get attached to everyone soon.</p>
               </div>
           </div>
           <div class="box">
               <div class="imgBx">


                   <img src="~/IMAGES/4167.jpg" />
               </div>
               <div class="content">
                   <h3>
                       Teddy
                       Toby
                       Bailey
                   </h3>
                   <p>They are cute triplets born on 07 th September 2018. The very cutest siblings of our place. They always stay together. The people who visit us will never miss these cuties.They are very playfull and you will sure enjoy their company</p>
               </div>
           </div>
           <div class="box">
               <div class="imgBx">

                 
                   <img src="~/IMAGES/Dog4.jpg" />
               </div>
               <div class="content">
                   <h3>Our Playschool</h3>
                   <p>To maintain the  health and Wealth of our Pets is our primary Goal.So every now and then we let our pets to a play area where they build their self to be brisk enough.</p>
               </div>
           </div>
           <div class="box">
               <div class="imgBx">


                   <img src="~/IMAGES/PET4.jpg" />
               </div>
               <div class="content">
                   <h3>A Day Out</h3>
                   <p>The main and entertaining practice which we follow is to take our pets for a Picnic.During that phase we make them to mingle with the people and train them to be people friendly.So our pets are trained to be the best Company for anyone who decide to grow them.</p>
               </div>
           </div>
           <div class="box">
               <div class="imgBx">



                   <img src="~/IMAGES/fish2.jpg" />
               </div>
               <div class="content">
                   <h3>Luna</h3>
                   <p>We also grow fishes.The Godfather quote is one famous example of the word fishes. Another is the zodiac sign of Pisces, which is sometimes referred to as fishes. You can also say that someone fishes as a hobby, but that’s just a form of the verb “to fish.” Finally, there’s the saying “if fishes were wishes, we’d all cast nets,” which is commonly attributed to Frank Herbert, author of the Dune series.</p>
               </div>
           </div>
           <div class="box">
               <div class="imgBx">


                   <img src="~/IMAGES/rabbit.jpg" />
               </div>
               <div class="content">
                   <h3>Stuart Little</h3>
                   <p>Rabbits are small mammals in the family Leporidae of the order Lagomorpha (along with the hare and the pika). Oryctolagus cuniculus includes the European rabbit species and its descendants, the world's 305 breeds[1] of domestic rabbit. Sylvilagus includes 13 wild rabbit species, among them the 7 types of cottontail.</p>
               </div>
           </div>
           <div class="box">
               <div class="imgBx">


                   
                   <img src="~/IMAGES/cute-kittens.jpg" />
               </div>
               <div class="content">
                   <h3>Lizzy  Nancy</h3>
                   <p>A kitten is a juvenile cat. After being born, kittens are totally dependent on their mother for survival and they do not normally open their eyes until after seven to ten days. After about two weeks, kittens quickly develop and begin to explore the world outside the nest.</p>
               </div>
           </div>
           <div class="box">
               <div class="imgBx">


                  
                   <img src="~/IMAGES/parrot1.jpg" />
               </div>
               <div class="content">
                   <h3>KIWI</h3>
                   <p>Characteristic features of KIWI include a strong, curved bill, an upright stance, strong legs, and clawed zygodactyl feet. Many parrots are vividly coloured, and some are multi-coloured. Most parrots exhibit little or no sexual dimorphism in the visual spectrum. They form the most variably sized bird order in terms of length. The most important components of most parrots' diets are seeds, nuts, fruit, buds, and other plant material.</p>
               </div>
           </div>
           <div class="box">
               <div class="imgBx">


                   
                   <img src="~/IMAGES/Dog6.jpg" />
               </div>
               <div class="content">
                   <h3>HOME SWEET HOME</h3>
                   <p>We Build them their own nook. Cutouts like this circular one make the pet part of the decor. While cats may split from the family fun, dogs usually prefer to lie right in the heart of it. Encourage Buddy to not be a tripping hazard, especially in the kitchen, where it can be a serious hazard. Instead, give him a safer hangout all his own from which he can monitor the action. Wherever you find the space for such a pet nook, fill it with plush materials that can be washed easily and often.</p>
               </div>
           </div>
       </div>
  </body>